@page
@model Bangazon.Areas.Identity.Pages.Account.Manage.OrderHistoryModel
@{
    ViewData["Title"] = "Order History";
    ViewData["ActivePage"] = ManageNavPages.OrderHistory;
}

<div>
    <h1>Hello World</h1>
</div>