@page
@model Bangazon.Areas.Identity.Pages.Account.Manage.PaymentTypeModel
@{
     ViewData["Title"] = "Payment Type";
    ViewData["ActivePage"] = ManageNavPages.PaymentType;
}
<div>
    <h1>Hello</h1>
</div>
